.color {
    background: #D2E9BD;
}

.bottom-bar {
    height: 4.125rem;
    flex-shrink: 0;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;

    background: rgba(255, 255, 255, 0.95);

    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    /* height: 30px; */
    width: 100vw;
}

.bottom-section {
    display: flex;
    flex-direction: column;
}

.icon-40 {
    height: 40px;
    width: 40px;
}

.sticky-nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 1000;
}

.top-section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.top-section-search-bar{
    margin-top: 3.2rem;
}